.header {
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: cornflowerblue;
}

.page-content {
  height: calc(100% - 117px);
  padding: 16px 48px;
}

.footer {
  padding: 16px;
  font-size: 16px;
  text-align: center;
  background-color: cornflowerblue;
}